@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
  
  --color-white: #FFFFFF;
  --color-dark-white: #FCFAFA;
  --color-light-gray-model-one: #d9d9d96c;
  --color-light-gray-model-two: #D9D9D9;
  --color-gray: #D4D4D4;
  --color-blue: #77A2E8;
  --color-black: #000000;
  --color-yellow: #FEE440;
  --color-red: #FF5555;
  
  
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  
  
  --header-height: 60px;
  --footer-height: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: var(--font-inter);
  background-color: var(--color-white);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

